version: '3.8'

services:
  ollama:
    image: ollama/ollama:latest
    container_name: perfoevolution-ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    environment:
      - OLLAMA_LOAD_TIMEOUT=5m  # Model load timeout
      - OLLAMA_REQUEST_TIMEOUT=5m  # generation timeout


  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    env_file:
      - .env
    environment:
      - OLLAMA_URL=http://ollama:11434
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - ollama

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    volumes:
      - ./frontend:/app
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  ollama_data:
    driver: local