.onboarding-container-section {
    background: url("../../Assets/img2.jpg") no-repeat center center fixed;
    background-size: cover;

}

.onboarding-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  width: 100%; 
  background-size: cover; 
  position: relative;
  color: white;
  text-align: center;
  margin: 0px;
}

.onboarding-form {
    background: rgba(0, 0, 0, 0.6); 
    padding: 30px;
    border-radius: 15px;
    width: 80%;
    max-width: 600px; 
}


@media (max-width: 768px) {
    .onboarding-form {
        width: 90%;
        padding: 20px;
    }
}

  
  .onboarding-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .onboarding-form .form-group {
    margin-bottom: 15px;
  }
  
  .submit-btn {
    background: linear-gradient(90deg, #ff9d00, #ff5400);
    border: none;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background 0.3s ease-in-out;
    width: 100%;
  }
  
  .submit-btn:hover {
    background: linear-gradient(90deg, #ff5400, #ff9d00);
  }
  