.plans-section {
    background: linear-gradient(to right, #0a192f, #1e3c72);
    color: white;
    padding: 10px 0;
    text-align: center;
}

.section-titles {
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 50px;
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.plan-column {
    display: flex;
    justify-content: center;
    align-items: stretch;  
    margin-bottom: 20px;
}


.plan-card {
    width: 100%;
    max-width: 350px;
    border: none;
    background: linear-gradient(135deg, #1c1f3b, #162447);
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    padding: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    height: 100%; 
}


.plan-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 30px rgba(0, 198, 255, 0.3);
}

.plan-overlay {
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 450px;
    transition: transform 0.3s ease-in-out;
    height: 100%;
}

.plan-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.plan-content {
    position: relative;
    z-index: 2;
    flex-grow: 1;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.plan-title {
    font-size: 1.8rem;
    font-weight: bold;
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10px;
}

.plan-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #00c6ff;
    margin: 10px 0;
}

.plan-features {
    list-style: none;
    padding: 0;
    font-size: 1.1rem;
    margin-bottom: auto; 

}

.plan-features li {
    margin-bottom: 8px;
}

.buy-now {
    background: linear-gradient(90deg, #ff9d00, #ff5400);
    border: none;
    font-size: 1rem;
    padding: 10px 20px;
    width: 100%;
    border-radius: 8px;
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
    margin-top: auto; 
}

.buy-now:hover {
    transform: scale(1.05);
}

.popular-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    color: white;
    font-size: 0.9rem;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.plan-icon {
    font-size: 2rem;
    color: #ff9d00;
    margin-bottom: 10px;
  }

.plan-overlay:hover {
    transform: scale(1.05);
}

@media (max-width: 992px) {
    .plan-column {
        flex: 1 1 100%;
    }
}
